<%- include('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="campaign-details">
        <h1><%= campaign.name %></h1>
        <p>Description: <%= campaign.description %></p>
        <p>Creator: <%= campaign.creator%></p>
        <h2>Current Characters:</h2>
        <ul>
          <% campaign.characters.forEach(function(character) { %>
            <li><%= character.name %> - <a href='/characters/<%= character._id %>'>Details</a></li>
          <% }); %>
        </ul>
      </div>
      <% if (isCreator === false && isPlayer === false) { %>
        <form action="/campaigns/<%= campaign._id %>/characters" method="post">
          <div class="form-group">
            <label for="characterId">Select a character to add:</label>
            <select class="form-control" name="characterId" id="characterId">
              <% characters.forEach(function(character) { %>
                <% if (character.user.equals(currentUser._id) && campaign.characters.includes(character._id) === false) { %>
                  <option value="<%= character._id %>">
                    <%= character.name %>
                  </option>
                <% } %>
              <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Add Character</button>
        </form>
      <% } %>
      <% if (isCreator === true) { %>
        <form action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this campaign?');">Delete this Campaign</button>
        </form>
      <% } %>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>